.nav {
  width: 400px;
  text-decoration: none;
}
.nav__link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #9098a3;
}
.nav__link:not(:last-child) {
  margin-right: 20px;
}

.nav__link--active {
  color: #022147;
  text-decoration: underline;
  font-size: 22px;
  font-weight: 700;
}

.authnav {
  display: flex;
  justify-content: flex-end;
}
